apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: backend
          image: docker.io/satish009/portfolio-backend:latest
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: DB_URL
              value: jdbc:mysql://mysql.portfolio.svc.cluster.local:3306/portfolio_db
            - name: DB_USERNAME
              value: root
            - name: DB_PASSWORD
              value: portfolio-root
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: secret
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: portfolio
type: Opaque
stringData:
  secret: change-me-jwt
